*{
    margin: 0;
    padding: 0;
}

body{
    background: #b6a291;
    color: #765D49;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header h1{
    letter-spacing: 3px;
    padding-left: 10%;
}

input{
    display: none;
}

label{
    display: block;
    cursor: pointer;
    width: 100%;
    background: #765D49;
    color: #b6a291;
    padding: 20px 5vw;
    font-weight: bold;
}

label:hover{
    color: lightpink;
}

input:checked+div{
    display: block;
}

div{
    background: #765D49;
    display: none;
}

div ul{
    padding: 20px 10% 20px;
}

div ul li{
    display: inline-block;
    width: 200px;
}

div ul li a{
    text-decoration: none;
    color: #b6a291;
}

div ul li a:hover{
    text-decoration: underline;
}

section{
    border-bottom: 1px solid #765D49;
    padding: 250px 10% 100px;
    text-align: center;
}

section img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

#toTop{
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #496276;
    padding: 20px;
}

div a{
    text-decoration: none;
    color: #b6a291;
}